
<!-- <section class="container">
    <div class="row">
        <form class="col-md-12">
            <h1> View Employee Details</h1> <button class="btn btn-danger" routerLink="/viewall">Back</button>
            <div class="form-group">
                <label for="uid">Id</label>
                <input type="text" class="form-control" id="uid"  value="{{singleEmployee[0].id}}" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" value="{{singleEmployee[0].title}}" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <input type="text" class="form-control" id="body" value="{{singleEmployee[0].body}}" placeholder="Email">
            </div>
            <button type="button" class="btn btn-primary" (click)="updatePost(post)">Edit Employeee</button>
        </form>
    </div>
</section> -->